<!-- login.html -->
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
</head>
<body>
<div>
    <nav>
        Login integrado
    </nav>
</div>
<div>
    <h2>Entrar</h2>
    <form id="login" method="post" th:action="@{/auth/login}">
        <div>
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <a href="/register">Registrar</a>
        <button type="submit">Entrar</button>
    </form>
    <div>
        <div>
            <a href="/oauth2/authorization/google">
                Login com o Google
            </a>
        </div>
    </div>
    <div><span>©Criado e desenvolvido por Leonardo de Oliveira Ramos</span></div>
</div>
</body>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6Le6kjUqAAAAAIU-MP3Fr0Fit-gcMJn69CdrSOkC"></script>
<script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
            grecaptcha.execute('6Le6kjUqAAAAAIU-MP3Fr0Fit-gcMJn69CdrSOkC', {action: 'submit'}).then(function(token) {
                // Add your logic to submit to your backend server here.
            });
        });
    }
</script>
</html>