<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
</head>
<div>
    <nav>Registro de Usuário</nav>
</div>
<div>
    <h2>Registrar</h2>
    <form id="frm_registro" method="post" th:action="@{/api/usuarios/register}">
        <div>
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Registrar</button>
        <div>
            <a href="/auth/login"><- Login</a>
        </div>
    </form>
        <button class="g-recaptcha"
                data-sitekey="6Le6kjUqAAAAAIU-MP3Fr0Fit-gcMJn69CdrSOkC"
                data-callback='onSubmit'
                data-action='submit'>Submit</button>
        <div><span>©Criado e desenvolvido por Leonardo de Oliveira Ramos</span></div>

</div>
<script src="https://www.google.com/recaptcha/api.js?render=6Le6kjUqAAAAAIU-MP3Fr0Fit-gcMJn69CdrSOkC"></script>
<script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
            grecaptcha.execute('6Le6kjUqAAAAAIU-MP3Fr0Fit-gcMJn69CdrSOkC', {action: 'submit'}).then(function(token) {
                // Add your logic to submit to your backend server here.
            });
        });
    }
</script>
</html>
